:81 {
        @transform_port_query {
                query XTransformPort=*
        }

        handle @transform_port_query {
                # SSRF protection: only allow proxying to known internal service ports
                @allowed_port {
                        query XTransformPort 3001
                        query XTransformPort 3002
                        query XTransformPort 3003
                        query XTransformPort 3004
                        query XTransformPort 3005
                        query XTransformPort 4000
                        query XTransformPort 5000
                        query XTransformPort 5001
                        query XTransformPort 8080
                }

                handle @allowed_port {
                        reverse_proxy localhost:{query.XTransformPort} {
                                header_up Host {host}
                                header_up X-Forwarded-For {remote_host}
                                header_up X-Forwarded-Proto {scheme}
                                header_up X-Real-IP {remote_host}
                        }
                }

                # Block all other ports (SSRF prevention)
                respond 403 "Forbidden" {
                        close
                }
        }

        handle {
                reverse_proxy localhost:3000 {
                        header_up Host {host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
                        header_up X-Real-IP {remote_host}
                }
        }
}